# configuration files
native/tremppi_common/configure.h
run_cmake.bat
run_cmake_static.bat
run_cmake.sh

#possible GECODE
/gecode-*

# build files
/bin*
/lib*
/Release*
/Debug*
./tremppi
tremppi.exe

# CMake files
CMakeFiles*
*CMake*.bin
*CMake*.cmake
CMakeCache.txt
*Makefile

# Visual Studio files
Win32*
*.dir
*.vcxproj*
*.opensdf
*.sdf
*.sln
*.suo
*.vs/*

# NetBeans
*nbproject*

# IDEA
*.idea*
*__pycache__*

# projects
projects/*
javascript/data*
javascript/log.txt
javascript/last_page.txt

# created files
*.sqlite
*log.txt
