# configuration files
tpi_common/configure.h

# build files
bin/*
lib/*

# CMame files
CMakeFiles*
*CMake*.bin
*CMake*.cmake
CMakeCache.txt
*Makefile

# Visual Studio files
Win32*
*.dir
*.vcxproj*
*.opensdf
*.sdf
*.sln
*.suo

# NetBeans
*nbproject*

# IDEA
*.idea

# projects
proj/*

# created files
*.sqlite
*.log
