body {
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
}

#file_list {
    position: absolute;
    width: 200px; 
    height: 100%;
    background-color: #DDDDDD;
}

a.page_content {
    display: block;
    background:#BBBBBB; 
    margin: 5px; 
    padding: 5px;
}
a.page_content:link {
    text-decoration: none;
}

#widget_holder {
    margin: 0px 0px 0px 200px; 
    height: 100%;
    overflow: auto;
}

#control_panel {
    background-color: #CCCCCC;
    margin: 0px 0px 0px 200px; 
    font-family: monospace;
    font-size: 20px; 
    text-align: center;
}

button {
    font-size: 20px; 
    margin: 2px;
}

#analysis_setup {
    position: absolute;
    z-index: 1;
}