body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#files {
    position: absolute;
    width: 200px; 
    height: 100%;
    background-color: #DDDDDD;
}

a.page_content {
    display: block;
    background:#BBBBBB; 
    margin: 5px; 
    padding: 5px;
}
a.page_content:link {
    text-decoration: none;
}

#widget {
    margin: 0px 0px 0px 200px; 
    height: 100%;
    overflow: auto;
}

#controls {
    background-color: #CCCCCC;
    margin: 0px 0px 0px 200px; 
    font-family: monospace;
    font-size: 20px; 
    text-align: center;
    overflow: auto;
    white-space: nowrap;
}

button {
    font-size: 20px; 
    margin: 2px;
}

#log_line {
    width: 100%;
    height: 20px;
    background-color: white;
    z-index: 1;
}

#analysis_setup {
    position: absolute;
    z-index: 1;
}