/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

#selection_table {
    width : 100%;
    height: 100%;
}

table.selection { border-collapse: collapse;  margin: auto; }
table.selection td, table.selection th { padding: 5px; border: 1px solid #000000; min-width: 200px;  }
table.selection tr { height: 25px; }
table.selection th {  }
input.invalid { background: red; color: #FDFDFD; }
