div.title {
    font-family: serif; 
    font-size: 30pt; 
    text-align: center; 
}

div.subtitle {
    font-family: serif; 
    font-size: 20pt; 
    text-align: center; 
}

div.help { 
    text-align: center; 
    font-family: serif; 
    font-size: 14pt; 
    font-style: italic; 
    padding: 5pt;
}