<!DOCTYPE html>
<html lang="en" style="margins: 0px; height: 100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TREMPPI</title>


    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='template.css') }}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- In-lining styles to avoid needing a separate .css file -->
    <style>
        hr { border-color: #cccccc; margin: 0; }
        .no-margins { margin: 0px; }
        .with-margins { margin: 10px; }
        .col-centered { float: none; margin: 0 auto; }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    {% block header %}
    {% endblock %}

</head>

    <!-- 1px for border -->
<body class="no-margins" style="padding: 0px; margin: 0px; ">
{% block body %}
<div id="header-div" class="no-margins" style="margin: 10px; height: 35px;">
    <div class="pull-left">
      
  <a href="/"><img id="logo"
      src="{{ url_for('static', filename='logo.png') }}"
      style="height: 35px;"/></a>
    </div>
    <div class="pull-right">
        <a href="http://dibimath.github.io/TremppiDemo/index.html">Public Models</a>
        &nbsp; | &nbsp;
        <a href="http://dibimath.github.io/TREMPPI/">Documentation</a>
        &nbsp; | &nbsp;
        {% if call_or_get(current_user.is_authenticated) %}
        <a href={{ url_for('members_page') }}>ENTER TREMPPI</a>
        &nbsp; | &nbsp;
        <a href="{{ url_for('user.profile') }}">User</a>
        &nbsp; | &nbsp;
        <a href="{{ url_for('user.logout') }}">Sign out</a>
        {% else %}
        <a href="{{ url_for('user.login') }}">Sign in</a>
        {% endif %}
    </div>
</div>
{% block menu %}
<div id="menu-div" class="no-margins">
</div>
{% endblock %}
<hr class="no-margins"/>

<div id="main-div" class="no-margins" style="height: 100%">
    {# One-time system messages called Flash messages #}
    {% block flash_messages %}
    {%- with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages %}
    {% for category, message in messages %}
    {% if category=='error' %}
    {% set category='danger' %}
    {% endif %}
    <div class="alert alert-{{category}}">{{ message|safe }}</div>
    {% endfor %}
    {% endif %}
    {%- endwith %}
    {% endblock %}

    {% block main %}{% block content %}{% endblock %}{% endblock %}
</div>

{% endblock %}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- Bootstrap -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
