#graph_object {
    width: 100%; 
    background-color: #888888;
    height: 100%;
}

#graph_selection {
    bottom: 0px;
    font-family: monospace;
    font-size: 20px; 
    text-align: center;
}

td {
    border-style: solid; 
    border-width: 1px; 
}

table.selection { border-collapse: collapse;  margin: auto; }
table.selection td, table.selection th { padding: 5px; border: 1px solid #000000; min-width: 200px; }
table.selection tr { height: 25px; }
table.selection th {  }
input.invalid { background: red; color: #FDFDFD; }

#component_manipulation {
    padding: 5px;
}