#graph_object {
    width: 100%; 
    background-color: #888888;
    height: 600px;
}

#property_table {
}

td {
    border-style: solid; 
    border-width: 1px; 
}

table.selection { border-collapse: collapse; width: 100%;  margin: auto; }
table.selection td, table.selection th { padding: 5px; border: 1px solid #000000; }
table.selection tr { height: 25px; }
table.selection th { background-color: #BBBBBB; }
input.invalid { background: red; color: #FDFDFD; }
