body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

.cy {
    width: 100%; 
    background-color: #888888;
    height: 600px;
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}