#commands {
    width: 100%;
}
commands_holder {
    width: 100%;
}

button.tool_button {
    
}

#reports {
}

#progress {
    width: 100%;
}

#log_file {
    width: 100%;    
}

/*td {
    border: 1px solid black;
}*/

